<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>LAB2-SD</title>
	
	<script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	
	<link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <h1 align="center">Laboratorio 2 Sistemas Distribuidos</h1>
  </nav>
  <div class="container well">
      
      <br>
      <h4>Ingrese nombre de archivo de entrada</h4>
      <br>
    
      <form action="/send" method="post">
      	<input name="in" type="text" class="form-control" required>
      	<br>
        <button id="enviar" name="send" type="submit" class="btn btn-primary">Enviar archivo!</button>
      </form>

  </div>
</body>
</html>